/index.php, /vjezba.php, /vjezba2,1.php, /vjezba2,3.php, /vjezba2,4.php, /vjezba2.php, /vjezba3,0.php, /vjezba3,1.php,
/vjezba3,2.php, /vjezba3,3.php, /vjezba3,4.php, /vjezba4,1.php, /vjezba4,2.php, /vjezba4,3.php,
/vjezba4.php